html, body {
	font-family: 'Poppins', sans-serif;
	height: 100%;
	width: 100%;
	margin: 0em;
	padding: 0em;
}

header {
	display: block;
	padding: 1em 0em 1em 0em;
}
header h1 {
	color: rgb(66,133,244);
	width: 20%;
	min-width: 400px;
	margin: 0.15em 0em 0em 0em;
	padding: 0em;
	float: left;
}

nav {
	float: right;
	width: 80%;
}
nav a {
	position: relative;
	display: inline-block;
	margin-left: 2em;
	margin-top: 1em;
}

.clearfix {
	overflow: auto;
}

#sign-in-button {
	float: right;
	background-color: rgb(66,133,244);
	margin: 0em 1em 0em 0em;
	padding: 1em;
	border-radius: 2em;
	color: white;
	text-decoration: none;
	width: 5em;
	text-align: center;
}

.main {
	clear: both;
	float: left;
	padding-left: 1em;
	padding-right: 1em;
}

.left-panel {
	float: left;
	width: 20em;
	clear: left;
	padding-left: 1em;
}
.left-panel h2 {
	margin: 0em;
}

.right-panel {
	margin-left: 20.25em;
	margin-top: 0em;
}
.right-panel h2 {
	margin: 1em;
}

.threads {
	padding: 2em;
	margin: 1em;
	border-radius: 2em;
	background-color: rgb(200,200,200);
}
.threads h4 {
	margin: 0em;
}

.comments {
	float: left;
	width: 20em;
	clear: left;
	padding-left: 1em;
}
.comments textarea {
	width: 100%;
	margin-top: 1em;
}
.comment {
	background-color: rgb(220,220,220);
	border-radius: 1em;
	padding: 1em;
	display: block;
	margin-top: 1em;
}
.comment textarea {
	width: 100%;
	margin-top: 1em;
	background-color: rgb(220,220,220);
	border: 0em;
}

.upvote-button {
	background-color: #d7ffd9;
	color: #003300;
	border: none;
	padding: 0.5em;
	border-radius: 10px;
}
.upvote-button:hover {
	background-color: #003300;
	color: #d7ffd9;
}
.upvoted {
	border: 0.25em solid #003300;
}
.downvote-button {
	background-color: #ff9281;
	color: #a90009;
	border: none;
	padding: 0.5em;
	margin-left: 1em;
	border-radius: 10px;
}
.downvote-button:hover {
	background-color: #a90009;
	color: #ff9281;
	margin-left: 1em;
}
.downvoted {
	border: 0.25em solid #a90009;
}
